@using EPiServer.Web.Mvc.Html
@model OptiNorthOne.Cms.News.Listing.NewsListingPageViewModel

<h1>@Html.PropertyFor(x => x.CurrentPage.Title)</h1>

    @foreach (var article in Model.Articles)
    {
        <div>
            <h3>@article.Title</h3>
        </div>
    }